body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background: url('images/TDA_students.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 70px;
}

.jumbotron-heading {
    font-size: 3rem;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 4px rgba(44, 46, 206, 0.5);
}

#sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    text-align: center;
}
.custom-btn {
    width: auto;
    padding: 0.5rem 1rem;
}
.section-heading {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}
.activities-heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #E0E8F3;;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        padding: 5px;
        max-height: 60vh;
        overflow-y: auto;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: 200px;
        margin-top: 5px;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item {
        padding: 10px 0;
    }

    .navbar-nav .nav-link {
        color: orange;
        font-size: 18px;
        font-weight: bold;
        transition: color 0.3s;
    }

    .navbar-nav .nav-link:hover {
        color: #007bff;
    }
}

@media (max-width: 576px) {

    .jumbotron-heading {
        font-size: 1.5rem;
        margin-top: 5px;
    }
    .jumbotron {
            height: 300px;
            padding-top: 60px;
        }
}

footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
}

#logo {
    max-height: 50px;
    height: auto;
    width: auto;
}
